@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz&display=swap'); 

* {
    box-sizing: border-box; 
}

img {
    display: block;     
    width: 100%;    
    
}
body { 
    margin: 0;
    font-family: 'Open Sans',sans-serif; 
}
h1,h2,h3,h4,h5,h6 { 

    font-family: 'Yanone Kaffeesatz', sans-serif; 
}

.contenedor {
    margin: auto;
    width: 99%;
}


/*----------------Buscador de contenido--------------*/


body {
    background: #343d46;
}

.box {
    margin: 5px auto;
    width: 300px;
    height: 50px;
}
.container-1{
    width: 170px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-1 input#search {
    width: 200px;
    height: 40px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background 55s ease;
    -moz-transition: background 55s ease;
    -ms-transition : background 55s ease;
    -o-transition: background 55s ease;
    transition: background 55s ease;
}
.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}
.container-1 input#search:-moz-placeholder {
    color: #65737e;
}
.container-1 input#search:-moz-placeholder {
    color: #65737e;
}
.container-1 input#search:-ms-input-placeholder{
    color: #65737e;
}

.container-1 button.icon{
    -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  height: 40px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-1:hover button.icon, .container-1:active button.icon, .container-1:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
}
.container-1:hover button.icon:hover{
    background: white;
}
.container-1 input#search:hover,.container-1 input#search:focus,.container-1 input#search:active{
    outline: none;
    background: #ffffff;
}

/*----------------Estilos del header-----------------*/ 

.header { 
    height: 50px;
   
}
.header .contenedor { 
    display: flex; 
    justify-content: space-between;
    color: rgb(22, 21, 19);   
    position: relative; 
}

.logo,.fa-bars { 
    
    margin: 5px;
    color: rgb(196, 192, 147);
     
} 

.fa-bars { 
    display: block; 
    width: 35px; 
    height: 35px; 
    font-size: 40; 
    background: grey;     
    text-align:center;
    line-height: 35px;
    border-radius: 4px;
    margin-left: auto;
    cursor: pointer; 
} 
/*----------------Estilos del menu--------------*/ 
.nav { 
    position: absolute;
    top: 60px; 
    left: -100%;
    width: 100%; 
    transition: all 0.2s; 
} 
.menu { 
    list-style: none; 
    padding: 0;
    margin-right: 60px;   
   
   
} 
.menu__link {
    display: block;
    padding: 7px; 
    background: rgb(51, 50, 49); 
    text-decoration: none;
    color: #fff; 
} 
.menu__link:hover, .select { 
    background: white;
    color: dimgray;
} 
.mostrar { 
    left: 0; 
} 

/******Estilos de banner******/

.banner {
    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
  }  
.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
    color: white;
    text-align: center;
  }
.banner__titulo {
    color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner__txt { 
      display: none;
  }
table {
    width: 180%;
}  
 
/*-----------------Estilos de footer-----------------*/
.footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.footer .social [class^="fab fa-"] {
    display: inline-block;
    color:#333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 30px;
}
/*-------- estilos top ----------------*/
.top {
    
    overflow: auto;
    margin-top: -20px;
    padding: 2px;    
    background-color: rgb(92, 80, 80);
    width: 100%;
}
th {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(50, 38, 156);
   background-color: #bdc8cf; 
}
tr {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: burlywood;
    background-color: #13171a;
}

/*------------------ Estilos reproductor--------------- */
.botones {
    margin-left: 190px;
    
}
.img__song {    
    border-radius: 50%;
    
 

}
.contenedorAudio {
    margin-top: 10px;
    position: relative;    
}
.botones {
    margin-left: 29px;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 25px;    
    
}
.fa-backward, .fa-play-circle, .fa-forward {
    
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: antiquewhite;
}
.repro {
    position: relative;
    margin-top: 300px;
}
/*-----------------Estilos de responsive-----------------*/

@media(min-width:480px) {
    .banner {
        height: 350px;
    }
    .menu {
        width: 476px;
    }
    
    .fa-bars {
        margin-right: 10px;
        margin-top: 10px;
    }
    
    .logo {
        font-size: 50px;
        margin-top: 50px;
        margin-left: 20px;
        color: purple;
    }
    .banner__titulo {
        margin-top: 95px;
        width: 180%;
        font-size: 40px; 
    }    
    .footer .social [class^="fab fa-"] {
       margin: 0 10px; 
    } 
}
@media(min-width:768px) {

    .menu {
        width: 745px;
    }
    
    .banner__titulo {
        font-size: 50px;        
    }
    
}

@media(min-width:1024px) {
    
    .contenedor {
        width: 1000px;
    }     
    
    .nav {
        position: static;
        width: auto;
    }
    .menu {
        display: flex;
    }
    .fas.fa-bars {
        display: none;

    }    
    .menu__link {
      background: none; 
      font-size: 20px; 
    }
    .select {
        color: #fff;
        background: dimgray ;
    }
    .banner__titulo {
        font-size: 60px;           
    }
    .banner__txt {
        font-size: 25px;
    }     
}


  
