body {
  margin: 0;
}
img {
  display: block;
  width: 40%;
  position: absolute;
}

.header {
  position: relative;
  display: flex;
  width: 250%;
}

.img__header {
  width: 40%;
}

.reproductor {
  position: absolute;
  top: 77%;
  
}

/* lista de canciones */

.lista_canciones {   
  position: relative;   
}
.contenedor {
  width: 295%;  
}
.pistas {
  background: rgb(21, 20, 26);
  color: #fff;
  padding: 13px;
  margin-bottom: 30px;
  width: 32%;
  height: 200px;
}
.lista {
  color: black;  
  width: 100%;
}
h2 {
  float: left;
  position: relative;

}

h1 {
  padding-left: 10px;
  height: 200px;
  text-align: center;
  position: relative;
  color: rgb(221, 219, 221);
  margin-top: 300px;
}






td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}







@media(min-width:768px) {
  .contenedor {
    width: 99%;
    display: flex;
    margin-inline: -105px;
  }



}